
.todo-body{
	width: 70%;
	margin: auto;
}
.form-flex{
	display: flex;
	margin-bottom: 20px;
}
.todo {
	display: flex;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
}

.todo:nth-child(even) {
	background-color: #EEE;
}

.todo:last-of-type {
	border-bottom: 0;
}

.todo .id {
	flex: 1 1 50px;
}

.todo .content {
	flex: 1 1 100%;
}

.todo.done .content {
	text-decoration: line-through;
}

.taskName {
	display: inline-block;
	padding: 10px 15px;
	appearance: none;
	border: 2px solid #F3F3F3;
	background-color: #F3F3F3;
	font-size: 14px;
	outline: none;
	flex: 1 1 100%;
}

.submit-btn {
	display: inline-block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: 1px solid #48a7fe;
	outline: none;
	background: none;
	background-color: #48a7fe;
	color: #FFF;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	flex: 1 1 50px;
}
.submit-btn:hover{
	background-color: white;
	color: #48a7fe;
}